body {
  background-image: url(starry_sky.png);
}
.topImage {
    max-width: 100%;
}
.wrapper {
    padding: 110px 80px 110px 80px
}
.grid-container1 {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
}
.grid-containter2 {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-template-rows: auto auto auto;*/
}
.itemLeft img {
    max-width: 100%;
}
.itemRight img {
    max-width: 100%;
}
.itemL img {
  max-width: 100%;
}
.itemR img {
  max-width: 100%;
}
.itemC img {
  max-width: 100%;
}
.itemLeft {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
}
.itemRight {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: black;
}
.itemL {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
}
.itemC {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: black;
}
.itemR {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: black;
}
.itemCwide {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  background-color: black;
}
.title {
  text-align: center;
  background-color: black;
}
h1 {
  color: #00ff00;
  font-size: 72px;
  font-family: 'Raleway', sans-serif;
}
h2 {
  color: #008000;
  font-size: 36px;
  font-family: 'Nunito', sans-serif;
}
h3 {
  color: #00ff00;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
}
h4 {
  color: #8000ff;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
p {
  color: #ffffff;
  font-size: 16;
  font-family: 'Nunito', sans-serif;
}
.normal {
  color: #00ff00;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  background-color: green;
}
.large {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  background-color: black;
}